body {
    font-family: sans-serif;
    margin: 0;
  }

  button {
    font-size: 15px;
    line-height: 1.5;
  }
 
  header {
    height: 100px;
    background: purple;
    text-align: center;
    color: white;
  }
  
  article {
    padding: 10px;
    margin: 10px;
    background: aqua;
  }

  footer {
    height: 30px;
    background: purple;
  }
 
  footer p {
    color: white;
    margin: 0;
  }
  /* Add your flexbox CSS below here */
  
  /* The nav rule uses Flexbox to create a horizontal navigation bar with evenly spaced items */
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
  }
  /* Center the content inside the header using Flexbox */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  
  section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }  
    
  article {
        flex: 2;
    }

/* The footer rule uses Flexbox to center its content both horizontally and vertically */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    

  
 
